/* Color Scheme: http://paletton.com/#uid=13F0u0kllljaHvYg1qCqFfZv+aE */
/*http://paletton.com/#uid=13F0u0kl7nha0JffNu5r2f+wq8j  */
/* Currently being used http://paletton.com/#uid=13D0u0k7UUa3cZA5wXlaiQ5cFL3 */



html {
    overflow-y: scroll;
    overflow-x: scroll;
    /* background-color: aliceblue; */
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
        background-color: #9FBCE1;
        border-radius: 15px;
        
}

 input {
    background-color: #E4EEFB;
    border-radius: 15px;
    padding-left: 5px;
} 

 button {
    background-color: #E4EEFB;
    border-radius: 15px;
    padding-left: 5px;
} 

select {
        background-color: #E4EEFB;
    border-radius: 15px;
    padding-left: 5px;
}

main {
    position: relative;
    padding-top: 125px;
    background-color: #B7CEEC;
    border-radius: 15px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

.navbar-inner {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #88A5D4;
    background-image: none;
    border-radius: 15px;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

footer {
    margin-top: 15px;
}

.navbar-inner.footer {
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;
    /* hide navbar */
    display:none;
}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

.h3, h3 {
    font-size: 20px;
    /* margin-top: -10px; */
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid #E4EEFB;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    background-color: #CEDFF5; 
}


.h5, h5 {
    color: red;
}