<!--<h2>{{ projectName }} Project Loaded!</h2>-->
<!--<br />-->
<!--<a routerLink="/feature" class="btn btn-default">Navigate to application "feature"</a>-->
<!--<br />
<br />
<br />-->
<!--You can get my <a href="https://marketplace.visualstudio.com/items?itemName=danwahlin.angular2-snippets" target="_blank">Angular (v2+) snippets</a> for the VS Code editor <a href="https://marketplace.visualstudio.com/items?itemName=danwahlin.angular2-snippets" target="_blank">here</a>.-->
<div>
    <!--Start Date: <md-datepicker ngModel= "options.startDate"></md-datepicker>-->
    <!--<br />End Date: <md-datepicker [(ngModel)] = "options.endDate" placeHolder="YYYY-MM-DD"></md-datepicker>-->
    <!--Your name: <input [(ngModel)] = "options.name" placeholder="name">-->
    Your name: <select [(ngModel)]="options.name" ng-model="data.singleSelect">
        <option value="">---Please select---</option>
        <option value="Kevin">Kevin</option>
        <option value="RaShaud">RaShaud</option>
        <option value="RaShaud">Rose</option>
        </select>
    <br />Input the number of days you want to go back) <input [(ngModel)]="options.totalRange" placeHolder = 120>
    <br />Input an interval (such as 7 days, 30 days, etc...) <input [(ngModel)]="options.interval" placeHolder=30>
</div>