<!--<h2>{{ projectName }} Project Loaded!</h2>-->
<!--<br />-->
<!--<a routerLink="/feature" class="btn btn-default">Navigate to application "feature"</a>-->
<!--<br />
<br />
<br />-->
<!--You can get my <a href="https://marketplace.visualstudio.com/items?itemName=danwahlin.angular2-snippets" target="_blank">Angular (v2+) snippets</a> for the VS Code editor <a href="https://marketplace.visualstudio.com/items?itemName=danwahlin.angular2-snippets" target="_blank">here</a>.-->
<div>
    <!--Start Date: <md-datepicker ngModel= "options.startDate"></md-datepicker>-->
    <!--<br />End Date: <md-datepicker [(ngModel)] = "options.endDate" placeHolder="YYYY-MM-DD"></md-datepicker>-->
    <!--Your name: <input [(ngModel)] = "options.name" placeholder="name">-->
    <!--Your name: <select [(ngModel)]="options.name" ng-model="data.singleSelect">
        <option value="">---Please select---</option>
        <option value="Kevin">Kevin</option>
        <option value="RaShaud">RaShaud</option>
        <option value="Rose">Rose</option>
        </select>-->
    Your name: <select [(ngModel)]="options.name">
            <option *ngFor="let n of selections.nameSelection" [ngValue]="n.id">{{n.option}}</option>
        </select>
    <br />Date: <input type="date" [(ngModel)]="options.endDate">
    <br />Input the number of days you want to go back) <input [(ngModel)]="options.totalRange" placeHolder = 120>
    <br />Input an interval (such as 7 days, 30 days, etc...) <input [(ngModel)]="options.interval" placeHolder=30>
    <br />Input a threshold for trend (values above/below won't show) <input [(ngModel)]="options.trendThreshold">
            Cut <select [(ngModel)]="options.trendCutoff" ng_model="data.singleSelect">
            <option value="Above">Above</option>
            <option value="Below">Below</option>
            </select>
    <br />Input a threshold for total referrals (values above/below won't show) <input [(ngModel)]="options.totRefThreshold">
            Cut <select [(ngModel)]="options.totRefCutoff" ng_model="data.singleSelect">
            <option value="Above">Above</option>
            <option value="Below">Below</option>
            </select>

    <!--<div>
    <br />Zip Codes for {{userFunc.zipToString(options.name)}}
    </div>-->
    <br>
    <button (click)="clicked($event)">View Results</button>
    <div [ngClass]="resultsPane">
        <br /><h1>{{options.name}}'s report</h1>
            <br />Sort By: <select [(ngModel)]="sortOptions.sortOne">
            <option *ngFor="let n of selections.orderSelection" [ngValue]="n.id">{{n.option}}</option>
            </select>
            Order: <select [(ngModel)]="sortOptions.sortOneOrder" ng_model="data.singleSelect">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
                </select>
        <br />Then sort By: <select [(ngModel)]="sortOptions.sortTwo">
            <option *ngFor="let n of selections.orderSelection" [ngValue]="n.id">{{n.option}}</option>
            </select>
            Order: <select [(ngModel)]="sortOptions.sortTwoOrder" ng_model="data.singleSelect">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
                </select>
          <br />Show Referrals: <select [(ngModel)]="filterOptions.referral">
            <option *ngFor="let n of selections.referralSelection" [ngValue]="n.id">{{n.option}}</option>  
            </select>
        <br /><button (click)="clicked($event)">Sort/Filter</button>
        <br /><p [ngClass]="resultsGrid"></p>
    </div>
</div>